
.control-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 5px;
    top: 5px;
    height: 400px;
    width: 450px;
    background-color: white;
    z-index: 401; /* Minimum of 401 to ensure it lies above the map */
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 500px){
    .control-box {
        position: relative;
        height: 50vh;
        width: 100vw;
        margin: 0;
    }
}

h1 {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.subtitle-container {
    display: flex;
    justify-content: center;
}

.subtitle-container a {
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    margin: 5px 10px 0 10px;
    padding: 3px;
    border-radius: 3px;
    color: black;
}

.subtitle-container a:hover {
    background-color: rgb(196, 235, 248);
    text-decoration: none;
}

.selected-boroughs-list {
    margin-left: 5px;
    overflow-y: auto;
    height: 150px;
}

.selected-boroughs-list span {
    display: inline-block;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 5px;
    color: white;
}

.clear-borough-prompt {
    cursor: pointer;
}

.interaction-prompt {
    width: 95%;
    text-align: center;
    border: 2px solid grey;
    border-radius: 3px;
    color: grey;
    margin-top: 3px;
}

.interaction-prompt span {
    display: inline;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

.interaction-prompt span.borough-add {
    background-color: grey;
}

.selected-boroughs-list .mobile-clear {
    display: none;


}

@media not all and (hover: hover){
    .interaction-prompt {
        display: none;
    }

    .selected-boroughs-list .mobile-clear {
        display: inline-block;
        border: 2px solid grey;
        color: grey;
    }
}
