
.control-box {
    position: fixed;
    right: 1%;
    bottom: 20px;
    height: 400px;
    width: 400px;
    background-color: white;
    z-index: 401; /* Minimum of 401 to ensure it lies above the map */
    justify-content: right;
}
