
.control-box {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 400px;
    width: 400px;
    background-color: white;
    z-index: 401; /* Minimum of 401 to ensure it lies above the map */
}

.selected-boroughs-list {
    margin-left: 5px;
}

.selected-boroughs-list span {
    display: inline-block;
    margin: 0 2px;

}
